
.app-root {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.titles {
    flex: 1;
    position: relative;
}

.mark {
    background: #ccc;
    width: 100%;
    position: absolute;
    height: 60px;
    top: 50%;
}

.title {
    line-height: 60px;
    padding: 0 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 100%;
    transition-duration: 300ms;
    font-size: 24px;
}

.title:hover {
    background-color: #939393;
}

.slides {
    width: 70%;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition-duration: 300ms;
    padding: 40px;
    font-size: 32px;
    line-height: 2em;
}
